

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
            <input type="hidden" class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <!-- Password 1 input -->
            <div class="form-outline mb-4">
              {{form.new_password1}}
              <label class="form-label" for="{{form.newpassword1.id}}">{{form.new_password1.label}}</label>
            


            </div>
                {% if form.new_password1.errors %}
                    <small class="text-danger">{{form.new_password1.errors | striptags}}</small>
  
                {% else %}
                    <small class="text-primary">{{form.new_password1.help_text}}</small>
                {% endif %}
            <!-- Password 2 input -->
            <div class="form-outline mb-4">
                {{form.new_password2}}
                <label class="form-label" for="{{form.newpassword1.id}}">{{form.new_password2.label}}</label>
            </div>
                {% if form.new_password2.errors %}
                    <small class="text-danger">{{form.new_password2.errors | striptags}}</small>
                
                {% else %}
                    <small class="text-primary">{{form.new_password2.help_text}}</small>
                {% endif %}

            
              {% if form.non_field_errors %}
              <p class="text-danger">{{form.non_field_errors | striptags }}</p>
              {% endif %}
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
  
          </form>
        </div>
      </div>
    </div>
</section>