{% extends 'base/base.html' %}

{% block titlename %}
    Reset Password
{% endblock titlename %}

{% block style %}
    <style>

            .divider:after,
            .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
            }

    </style>
{% endblock style %}


{% block content %}



{% if validlink %} 
<form action="" method="POST">
    {% csrf_token %}
    {% include "password/password_reset_template.html" %}
</form>
{% else %}

{% include 'password/link_expired.html' %}

{% endif %}


{% endblock content %}