{% extends 'base/base.html' %}
{% load static %}
{% block titlename %}
    Login
{% endblock titlename %}

{% block style %}
    <style>
                    
                    body {
                background-position: center;
                background-color: #eee;
                background-repeat: no-repeat;
                background-size: cover;
                color: #505050;
                font-family: "Rubik",Helvetica,Arial,sans-serif;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.5;
                text-transform: none;
                }

                .forgot{
                    background-color: #fff;
                padding: 12px;
                border: 1px solid #dfdfdf;
                }

                .padding-bottom-3x {
                padding-bottom: 72px !important;
                }

                .card-footer{
                background-color: #fff;
                }

                .btn{ 

                font-size: 13px;
                }

                .form-control:focus {
                color: #495057;
                background-color: #fff;
                border-color: #76b7e9;
                outline: 0;
                box-shadow: 0 0 0 0px #28a745;
                }
               
    </style>
{% endblock style %}

{% block content %}

    <form action="" method="post" autocomplete="off">

        {% csrf_token %}


        
        <div class="container padding-bottom-3x mb-2 mt-5">

            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 mb-4 offset-lg-2">
                    <h2 class="text-success">Nep<span class="text-capitalize text-danger">speech </span>Reset Password</h1>
                </div>
              <div class="row">

                <div class="col-lg-6 col-sm-12 col-md-12">
                    <img src="{% static 'images/3227472.jpg' %}" alt="" class="img-fluid" height="100%" width="100%s">
                </div>

                  <div class="col-lg-6 col-md-10">
                    <div class="forgot">
                        
                    <h3>Forgot your password?</h2>
                    <p>Change your password in three easy steps. This will help you to secure your password!</p>
                    <ol class="list-unstyled p-3 h6" style="font-family:verdana;">
                      <li class="p-2"><span class="text-primary text-medium ">1. </span>Enter your email address below.</li>
                      <li class="p-2"><span class="text-primary text-medium ">2. </span>Our system will send you a temporary link</li>
                      <li class="p-2"><span class="text-primary text-medium ">3. </span>Use the link to reset your password</li>
                    </ol>
          
                    </div>	
                    
                    <form class="card mt-4">
                      <div class="card-body">
                        <div class="form-group p-2">
                          <label for="email-for-pass" class="mb-2">Enter your email address</label>
                          {{form.email}}
                            <small class="form-text text-muted p-2 m-2">Enter the email address you used during the registration on NepSpeech. Then we'll email a link to this address.</small>
                        </div>
                      </div>
                      <div class="card-footer p-3">
                        <button class="btn btn-success" type="submit">Reset Password</button>
                        <a class="btn btn-danger" href="{% url 'signin' %}">Back to Login</a>
                      </div>
                    </form>
                  </div>
              </div>

            </div>
          </div>


    </form>

{% endblock content %}