<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Speak Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">

        <h1>याहा हजुरले चाहेको कुरालाई बोलाउन सक्नुहुन्छ । </h1>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="text_to_speak" id="speak" placeholder="नेपालि शब्दहरु मात्र दिनु होला" class="p-5 m-3">
            <br>
            <input type="submit" value="Speak" class="btn btn-success m-3">
        </form>
    </div>
</body>
</html>