<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Speak Up</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container mt-5">

        <h1>याहा हजुरले चाहेको कुरालाई बोलाउन सक्नुहुन्छ । </h1>

        <form action="" method="POST">
            {% csrf_token %}
            <textarea name="text_to_speak" id="speak" rows="10" cols="100"> </textarea>
            <br>
            
            <input type="submit" value="Speak" class="btn btn-success m-3 center">
        </form>

        {% if audio_file %}
        <div class="container mt-5 p-4">
          <audio controls class="embed-responsive-item" autoplay>
            <source src="media/yourtext.mp3" type="audio/mpeg">
            <source src="media/yourtext.mp3" type="audio/ogg">
          Your browser does not support the audio element.
          </audio> 
        </div>
        {% endif %}

        <!-- <div id='translControl' class="container"></div> -->
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/googleinput.js' %}"></script>
    <script>
          
      // Load the Google Transliteration API
      google.load("elements", "1", {
        packages: "transliteration"
      });
    
      function onLoad() {
        var options = {
          sourceLanguage: 'en',
          destinationLanguage: [google.elements.transliteration.LanguageCode.NEPALI],
          shortcutKey: 'ctrl+m',
          transliterationEnabled: true
        }
    
        // Create an instance on TransliterationControl with the required options.
        var control = new google.elements.transliteration.TransliterationControl(options);
    
        // Enable transliteration in the textfields with the given ids.
        var ids = ["speak"];
        control.makeTransliteratable(ids);
    
        // Show the transliteration control which can be used to toggle between English and Hindi and also choose other destination language.
        control.showControl('translControl');
      }
    
      google.setOnLoadCallback(onLoad);
      
    </script>
</body>
</html>